In [6]:
x=int (input("Enter yours marks : "))

Enter yours marks : 100

In [7]:
if x>50 : 
  print(" You are passed")
if x<50 :
  print(" You are failed")

 You are passed

In [8]:
x=int (input("Enter yours marks : "))

Enter yours marks : 50

In [10]:
if x==50 :
  print(" You are just pass")

 You are just pass

In [22]:
x= int(input(" ENTER YOUR SALARY : "))
if x>250000 :
  print("YOU ARE TAXABLE")
  print("YOUR TAXABLE AMOUNT IS : " , (x-250000)*10/100)
if x<250000 :
  print("YOU ARE NOT TAXABLE")

 ENTER YOUR SALARY : 300000
YOU ARE TAXABLE
YOUR TAXABLE AMOUNT IS :  5000.0

In [24]:
x= int(input(" ENTER YOUR SALARY : "))
if x<=250000 :
  print("YOU ARE NOT TAXABLE")
if x>250000 and x<=500000:
  print("YOUR TAXABLE AMOUNT IS : " , (x-250000)*5/100)
if x>500000 and x<=750000:
  print("YOUR TAXABLE AMOUNT IS : " , (x-500000)*10/100)
if x>750000 and x<=1000000:
  print("YOUR TAXABLE AMOUNT IS : " , (x-750000)*15/100)
if x>1000000 and x<=1250000:
  print("YOUR TAXABLE AMOUNT IS : " , (x-1000000)*20/100)
if x>1250000 and x<=1500000:
  print("YOUR TAXABLE AMOUNT IS : " , (x-1250000)*25/100)
if x>1500000 :
  print("YOUR TAXABLE AMOUNT IS : " , (x-1500000)*30/100)

 ENTER YOUR SALARY : 2000000
YOUR TAXABLE AMOUNT IS :  150000.0