In [ ]:
def PARVATHY():
  print("India is my country")

In [ ]:
PARVATHY()

India is my country

In [ ]:
def PARVATHY():
  print("Your roll number is" , 10)

In [ ]:
PARVATHY()

Your roll number is 10

In [ ]:
x=int(input("Enter your roll number : "))
def Enitta():
  print("Your roll number is",x)
Enitta()

Enter your roll number : 25
Your roll number is 25

In [ ]:
a=input("Enter your name : ")
x=int(input("Enter your roll number : "))
y=input("Enter your mail id : ")
z=input("Enter your place : ")
def Enitta(a,x,y,z):
  print("Name : ",a)
  print("Roll number is",x)
  print("Mail id : ",y)
  print("Place : ",z)
Enitta(a,x,y,z)

Enter your name : Enitta
Enter your roll number : 13
Enter your mail id : enitta@gmail.com
Enter your place : Thrippunithra
Name :  Enitta
Roll number is 13
Mail id :  enitta@gmail.com
Place :  Thrippunithra

In [7]:
d=[]
a=input("Enter your full name : ")
def First(a):
  print(a[0:8])
def Second(a):
  print(a[9:16])
First(a)
Second(a)

Enter your full name : Parvathy Sudheer

In [10]:
First(a)
Second(a)

Parvathy
Sudheer

In [24]:
def namei():
  y=x.split()
  print("Your 1st name is:",y[0])
  print("Your 2nd name is:",y[1])
x=input("Enter full name ")
namei()

Enter full name Parvathy Sudheer
Your 1st name is: Parvathy
Your 2nd name is: Sudheer

In [26]:
d=[]
a=int(input("Enter the First number : "))
b=int(input("Enter the Second number : "))
def swap(a,b):
  print(b,a)

Enter the First number : 8
Enter the Second number : 5

In [27]:
swap(a,b)

5 8